@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('./header.css');
@import url('./body.css');
@import url('./breakpoint.css');
@import url('./footer.css');


:root{
  --main-color: #fff;
  --optional-color: #5e35b1;
  --color: #000;
  --color-green: #087f23;
  --color-blue: #0c7abf;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    border: none;
    line-height: 26px;
    line-height: 1.625rem;
}

html{
  font-size: 16px;
  font-size: 100%;
}
